* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html {
  background-color: rgb(245, 229, 197);
  color: rgb(44, 24, 0);
}
.title {
  color: rgb(44, 24, 0);
  text-align: center;
  margin: 20px;
  font-size: 50px;
}
